header {
    background: rgba(21, 255, 0, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  .Encabezado{
    float: left;
  }
  .Encabezado ul {
    list-style: none;
    overflow: hidden; 
  }
  .Encabezado ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
  }
  .Encabezado ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  .li1:hover {
    background: #6d00fc;
  }
.li2:hover {
  background: #23d4ec;
}
.li3:hover {
  background-color: rgb(255, 0, 255);
}